#updatePassword-container {
  width: 400px;
  margin: 100px auto 0 auto;
  text-align: center;
}

#updatePassword-container h1 {
  margin-bottom: 30px;
}

#updatePassword-container .btn {
  width: 100%;
  margin-left: 25%;
}

#updatePassword-container .captcha-wrapper {
  display: flex;
  gap: 10px;
}

#updatePassword-container .ant-form-item-control-input-content {
  display: flex;
  justify-content: flex-start;
}

#updatePassword-container .ant-form-item-control-input-content .ant-btn {
  margin-left: 10px;
}

#updatePassword-container .submit-btn-wrapper {
  display: flex;
  justify-content: center;
}

#updatePassword-container .ant-form {
  width: 100%;
}
